{% block form_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, compound ? {} : { attr: { class: attr.class is defined ? attr.class : 'form-control' } }) }}
    </div>
{% endspaceless %}
{% endblock %}

{% block checkbox_row %}
    {{ form_errors(form) }}
    <label class="checkbox{{ form.vars.required ? ' required' }}">
        {{ form_widget(form) }}
        {{ form.vars.label|trans({}, form.vars.translation_domain) }}
    </label>
{% endblock %}

{% block button_row %}
    {{ form_widget(form, { attr: { class: attr.class is defined ? attr.class : 'btn btn-primary' } }) }}
    &nbsp;
{% endblock %}
